.drop-down-container {
  width: 100%;
  position: relative;
}

.drop-down-label {
  text-align: left;
}

.drop-down-button {
  background-color: #023047;
  border: #8ecae6 1px solid;
  color: white;
  height: 50px;
  width: 100%;
}

.dropdown-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  z-index: 1;
}
