.drop-down-container {
  position: relative;
  width: 100%;
}

.drop-down-button,
.drop-down-open-button {
  background-color: #f1e3e3;
  border: none;
  color: #726b6b;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  height: 56px;
  padding: 20px;
  text-align: left;
  width: 100%;
}

.drop-down-open-button {
  border-radius: 6px;
}

.drop-down-button {
  width: 100%;
}

.dropdown-list-container {
  max-height: 400px;
  position: absolute;
  width: 100%;
  z-index: 1;
  margin-top: 6px;
}

.dropdown-list {
  border-radius: 6px;
  max-height: 400px;
  overflow: auto;
  /* width: 90%; */
}
