#root {
  height: 100vh;
}

.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.App-header {
  align-items: center;
  background-color: #4c7676;
  color: #f1e3e3;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  justify-content: center;
}

.divider,
.divider-loading {
  background-color: #f1e3e3;
  height: 3px;
  left: 50%;
  max-width: 700px;
  position: absolute;
  transform: translateX(-50%);
  width: 85vw;

  &#top {
    top: 20px;
  }

  &#bottom {
    bottom: 20px;
  }
}

.divider-loading {
  height: 9px;
  --c: no-repeat linear-gradient(#f1e3e3 0 0);
  background: var(--c), var(--c), var(--c), var(--c);
  background-size: 25% 3px;
  animation: l6 1s infinite;
}

@keyframes l6 {
  0%,
  70%,
  100% {
    background-position: calc(0 * 100% / 3) 50%, calc(1 * 100% / 3) 50%,
      calc(2 * 100% / 3) 50%, calc(3 * 100% / 3) 50%;
  }
  23.33% {
    background-position: calc(0 * 100% / 3) 0, calc(1 * 100% / 3) 100%,
      calc(2 * 100% / 3) 0, calc(3 * 100% / 3) 100%;
  }
  46.67% {
    background-position: calc(1 * 100% / 3) 0, calc(0 * 100% / 3) 100%,
      calc(3 * 100% / 3) 0, calc(2 * 100% / 3) 100%;
  }
  69.99% {
    background-position: calc(1 * 100% / 3) 50%, calc(0 * 100% / 3) 50%,
      calc(3 * 100% / 3) 50%, calc(2 * 100% / 3) 50%;
  }
}
